*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.btn{
    width: 150px;
    height: 65px;
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: #FFF8F3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* .container{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    border: 1px solid black;
} */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    
}
 /*============ Navigation bar design ==============*/
header .nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar .logo{
    font-size:  45px;
    font-weight: x-large;
}

.nav-bar .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
    
}
.menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px ;
}
 /* ========== Navigation bar design ============ */
.hero-area{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-area{
    max-width: 585px;
    gap: 163px;
    
}
.social-area h3{
    color: #474747;
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;
}
.social-area h2{
    color: #181818;
    font-size: 85px;
    font-weight: 600px;
    margin-bottom: 20px;
}
.social-area p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600px;
    margin-bottom: 30px;
}
.btn-area{
    gap: 30px;
}
.image-area img{
    max-width: 584px;
    vertical-align: middle;
}

/* ========== Avout design ============ */
#about{
    padding-top: 130px;
}
#about .about-cont{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 130px 156px;
}.about-section h3 {
    font-size: 30px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.about-section p {
    font-size: 18px;  
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
.about-cont .about-info{
    display: flex;
    gap: 50px ;
    justify-content: center;
}
.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
 /* ========== Footer design ============ */
 .footer-area{
    display: flex;
 }
