*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.btn{
    width: 150px;
    height: 65px;
    padding: 18px 35px;
    background-color: #FD6E0A;
    color: #FFF8F3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.container{
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #FFF8F3;
    padding: 130px 156px;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    
}
h3{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
p{
    font-size: 18px;
    color: #474747;
    line-height: 30px;
    margin-top: 20px; 
}

/*============ Navigation bar design ==============*/
header .nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar .logo{
    font-size:  45px;
    font-weight: x-large;
}

.nav-bar .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
    
}
.menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px ;
}
/* ========== Navigation bar design ============ */
.hero-area{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-area{
    max-width: 585px;
    gap: 163px;
    
}
.social-area h3{
    color: #474747;
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;
}
.social-area h2{
    color: #181818;
    font-size: 85px;
    font-weight: 600px;
    margin-bottom: 20px;
}
.social-area p{
    color: #757575;
    font-weight: 600px;
    margin-bottom: 30px;
}
.btn-area{
    gap: 30px;
}
.image-area img{
    max-width: 584px;
    vertical-align: middle;
}

/* ========== About design ============ */
#about{
    padding-top: 130px;
    
}

.container .about-info{
    display: flex;
    gap: 50px ;
    justify-content: center;
}
.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
/* ========== Skill design ============ */
#skill{
    padding-top: 130px;
}
.skill-box{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.skill-card{
    align-items: start;
    box-shadow: 0 6px 50px #ffffff;
}
.skill-card img{
    height: 44px;
    width: 44px;
}
.skill-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
/* ========== Resume design ============ */
#resume{
    padding-top: 130px;
}
.resume-titel{
    font-size: 35px;
    font-weight: bold;
    color: #181818;    
}
.resume-section{
    display: flex;
    margin: 113px auto 0;
}
.resume-section hr{
    margin: 30px 0;
}
.education .sectinon-titel{
    font-size: 30px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.resume-card .card-titel{
    font-size: 25px;
    font-weight: bold;
    color: #181818;    
}
.card-edu-titel{
    font-size: 20px;
    font-weight: 600px;
    color: #757575;
    margin-top: 10px;
}
/* .resume-card p{
    font-size: 18px;
    color: #474747;
    line-height: 30px;
    margin-top: 20px;
} */
.container .btn {
    align-items: center;
}
/* ========== Footer design ============ */
 #footer{
    padding-top: 130px;
}
.main{
     background-color: #FEF7F2;

 }
 .footer-section{
    display: flex;
    gap: 116px;
    padding: 131px 230px 0;
 }
 .footer-cnt{
    max-width: 562px;
 }
 .social-icon{
    display: flex;
    gap: 24px;
    margin-top: 30px;
 }
 .social-icon i{
    color: #FD6E0A;
    
 }
 .form input[type="text"] , textarea{
    max-width: 461px;
    border-radius: 5px;
    padding: 18px 350px 30px;
 }

